  <section class="section" id="newEventBG">
    <div class="contatiner is-max-desktop">  
      <div class="has-text-centered">
        <div class="card-content">
          <div>
            <h1>Welcome to Where We Going!</h1>
            <p>Find local events and meet new people.</p>
            <a href="/eventSearch" class="button is-link is-outlined">Search for Events</a>
          </div>
        </div>
      </div>
      <div class="contatiner is-max-desktop has-text-centered">
   <h1>Upcoming Events</h1>
  <ul>
    {{#each events}}
      <li>
        <h3>{{title}}</h3>
        <p>Date: {{date}}</p>
        <p>Location: {{location}}</p>
        <p>Attendees: {{attendees}}</p>
        <p>Description: {{description}}</p>
      </li>
      {{else}}
        <li>No upcoming events</li>
    {{/each}}
  </ul>
      </div>
    </div>
</section>
 